<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Alter Souls{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <h2>Village</h2>
        {% endblock %}
        {% block javascripts %}
            <script src="js/angular.js"></script>
        {% endblock %}
    </body>
</html>
