html,body{
    height: 100%;
    width: 100%;
}

#user-register-form{
    width: 30%;
    margin-top: 45px;
    margin-left: 15px;
    text-align: center;
}

#user-login-form{
    width: 450px;
    margin-top: 45px;
    margin-left: 15px;
    text-align: center;
}

/*
*Not Working!*/
#user-register-form label{
    display: inline;
    text-align: left;
    float: left;
}